$dark-gray: #8c8c8c;
@import "https://fonts.googleapis.com/css?family=Montserrat:700";

main {
  align-content: center;
  align-items: center;
  background-color: $light-gray;
  bottom: 0;
  color: $dark-gray;
  display: flex;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

}

h1 {
  width: 90%;
  max-width: 500px;
  font-size: 3em;
  line-height: 1.3;
}

#math-year{
  position: relative;

  &::after{
    content: "";
    width: 100%;
    bottom: -7px;
    left: 0;
    height: 4px;
    position: absolute;
    background-color: $dark-gray;
  }
}

#years{
  color: #46B1F7;
}
